!@#stig:l3ir
!@#stig:l3pr
!@#stig:fake
version 15.6
service tcp-keepalives-in
service tcp-keepalives-out
service password-encryption
no service dhcp
no service pad
ip arp gratuitous none
ip ftp source-interface Loopback0
service timestamps debug datetime msec
service timestamps log datetime msec
!
hostname R12
!
boot-start-marker
boot-end-marker
!
interface Tunnel123
 tunnel source 1.1.1.1
 tunnel destination 2.2.2.2
!
interface Tunnel456
 tunnel source 1.1.1.1
 tunnel mode ipv6ip
 tunnel destination 5.5.5.5
!
enable secret cisco
!
no aaa new-model
!
l2tp-class TEST
 authentication
!
no ip source-route
!
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
!
!
router bgp 100
 neighbor 1.1.1.1 remote-as 2
 neighbor 1.1.1.1 password TEST
 neighbor 100.0.0.1 remote-as 100
 neighbor 100.0.0.1 update-source Loopback7
!
banner motd %
You are accessing a U.S. Government (USG) Information System (IS) that is provided for USG-authorized use only. By using this IS (which includes any device attached to this IS), you consent to the following conditions: 

-The USG routinely intercepts and monitors communications on this IS for purposes including, but not limited to, penetration testing, COMSEC monitoring, network operations and defense, personnel misconduct (PM), law enforcement (LE), and 
counterintelligence (CI) investigations. 
-At any time, the USG may inspect and seize data stored on this IS. 
-Communications using, or data stored on, this IS are not private, are subject to routine monitoring, interception, and search, and may be disclosed or used for any USG-authorized purpose. 
-This IS includes security measures (e.g., authentication and access controls) to protect USG interests--not for your personal benefit or privacy. 
-Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI investigative searching or monitoring of the content of privileged communications, or work product, related to personal representation or services by attorneys, psychotherapists, or clergy, and their assistants. Such communications and work product are private and confidential. See User Agreement for details.
%
!
ip ssh version 2
ip ssh authentication-retries 2
ip ssh timeout 60
!
logging host 1.1.1.1
!
no ip icmp rate-limit unreachable
!
ip access-list extended ACL_EXTERNAL_IN
 deny ip 127.0.0.0 0.0.0.255 any log
 deny ip 169.254.0.0 0.0.255.255 any log
 deny ip 0.0.0.0 0.255.255.255 any log
 deny ip 100.64.0.0 0.63.255.255 any log
 deny ip 192.0.0.0 0.0.0.255 any log
 deny ip 192.0.2.0 0.0.0.255 any log
 deny ip 198.18.0.0 0.0.1.255 any log
 deny ip 198.51.100.0 0.0.0.255 any log
 deny ip 203.0.113.0 0.0.0.255 any log
 deny ip 224.0.0.0 15.255.255.255 any log
 deny ip 240.0.0.0 15.255.255.255 any log
 deny ip 100.64.0.0 255.192.0.0 any log
 deny ip 10.0.0.0 0.255.255.255 any log
 deny ip 172.16.0.0 0.15.255.255 any log
 deny ip 192.168.0.0 0.0.255.255 any log
 deny icmp any any time-exceeded log
 deny 41 any any log
 deny 115 any any log
 deny udp any any eq 1701 log
 deny 42 any any log
 deny 93 any any log
 deny 94 any any log
 deny 97 any any log
 deny 98 any any log
 deny tcp any any eq 1723 log
 deny udp any any eq 1723 log
 deny udp any any eq 3544 log
 deny icmp any any fragments log
 permit icmp any any echo-reply
 permit icmp any any packet-too-big
 permit icmp any any source-quench
 permit icmp any any parameter-problem
 deny udp any any range snmp snmptrap log
 deny icmp any any log
 deny ip any any log
ip access-list extended ACL_EXTERNAL_OUT
 deny udp any any eq 3544 log
 deny icmp any any time-exceeded log
 deny 41 any any log
 deny 115 any any log
 deny udp any any eq 1701 log
 deny 42 any any log
 deny 93 any any log
 deny 94 any any log
 deny 97 any any log
 deny 98 any any log
 deny tcp any any eq 1723 log
 deny udp any any eq 1723 log
 deny udp any any range snmp snmptrap log
 permit icmp any any packet-too-big
 permit icmp any any source-quench
 permit icmp any any echo
 deny icmp any any log
!
!
!
!
!
!
!
!
!
!


!
!
!
!
no ip domain lookup
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
!
!
!
!
!
username gdadmin privilege 0 password 0 cisco
!
redundancy
!
no cdp log mismatch duplex
!
ip tcp intercept mode watch
ip tcp synwait-time 10
ip radius source-interface Loopback0
ip tacacs source-interface Loopback0
ip tftp source-interface Loopback0
no cdp run
!
!
!
key chain 1
 key 100
   accept-lifetime 00:00:00 Jan 10 2014 duration 15552000
   send-lifetime 00:00:00 Jan 10 2014 duration 15552000
 key 200
   accept-lifetime 00:00:00 Jan 10 2014 infinite
   send-lifetime 00:00:00 Jan 10 2014 infinite
!
no ip bootp server
ip flow-export source Loopback0
logging source-interface Loopback0
snmp-server trap-source Loopback0
snmp-server group TEST v3 read whatever access 100
!
!
tacacs server ISE_APG_6010
 address ipv4 10.108.3.81
 key 7 test
 timeout 1
radius server ISE_GAITNOC_DETRICK
 address ipv4 10.108.4.145
 key 7 test
 timeout 1
!
!
!
!
!
!
interface Loopback0
 ip address 10.0.0.12 255.255.255.255
 ip ospf 1 area 3
!
interface FastEthernet0/0
 no ip address
 shutdown
 no mop enabled
!
interface GigabitEthernet0/1
 ip verify unicast source reachable-via rx
 no mop enabled
 description TO R14
 no ip proxy-arp
 no ip unreachables
 no ip redirects
 ip pim sparse-mode
 ip pim neighbor-filter 1
 ip address 10.12.14.12 255.255.255.0
 ip ospf network point-to-point
 ip ospf 1 area 3
 ip ospf cost 10
!
interface Ethernet0/2
 no mop enabled
 no ip address
 shutdown
!
interface Ethernet0/3
 service-policy input MGMT_QOS
 no mop enabled
 ip verify unicast source reachable-via rx
 description TO R1
 no ip proxy-arp
 no ip unreachables
 no ip redirects
 ip address 10.1.12.12 255.255.255.0
 ip ospf network point-to-point
 ip ospf 1 area 3
 ip ospf cost 10
 shutdown
!
interface Serial1/0
 ip verify unicast source reachable-via rx
 ip address 6.6.6.6 255.255.255.0
 ip pim sparse-mode
 ip access-group ACL_EXTERNAL_IN in
 ip access-group ACL_EXTERNAL_OUT out
 ip multicast boundary 123
 ip pim neighbor-filter 2
 shutdown
 serial restart-delay 0
!
interface Serial1/1
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial1/2
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial1/3
 no ip address
 shutdown
 serial restart-delay 0
!
 no ip unreachables
 no ip redirects
router ospf 1
 passive-interface default
 router-id 10.0.0.12
 no passive-interface Ethernet0/2
!
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
ip ssh server algorithm encryption aes128-ctr aes192-ctr aes256-ctr
ip ssh client algorithm encryption aes128-ctr aes192-ctr aes256-ctr
!
ipv6 ioam timestamp
!
!
!
control-plane
 service-policy input IN
 service-policy output OUT
!
!
!
!
!
!
!
banner exec ^C
##############################################################
# Troubleshooting OSPF (BRKRST-3310)                         #
#                                                            #
# By Nicholas Russo <nickrus@cisco.com>                      #
# Cisco Live US 2018 - Demo lab                              #
# https://github.com/nickrusso42518/ospf_brkrst3310          #
##############################################################
^C
!
ip access-list standard ACL_VTY
 permit 1.1.1.1 log
 deny 2.2.2.2 log
!
line con 0
 login authentication METHOD
 exec-timeout 10 0
 privilege level 15
 logging synchronous
 history size 256
line aux 0
 no exec
 exec-timeout 10 0
 privilege level 15
 logging synchronous
line vty 0 4
 login authentication METHOD
 access-class ACL_VTY in
 exec-timeout 10 0
 login
 transport input none
!
!
ntp logging
ntp authenticate
ntp source Loopback0
ntp authentication-key 1 md5 SAMPLE1 0
ntp authentication-key 2 md5 SAMPLE2 0
ntp server 192.0.2.1 key 1
ntp server 192.0.2.2 key 2
end
