!@#type:nxos
!@#stig:l2as
version 15.6
no ip arp gratuitous request
no ip arp gratuitous update
ip ftp source-interface loopback0
service timestamps debug datetime msec
service timestamps log datetime msec
feature ssh
feature dot1x
fips mode enable
!
hostname R12
!
boot-start-marker
boot-end-marker
!
!
enable secret cisco
!
aaa authentication login METHOD1
aaa authentication dot1x METHOD2
aaa authentication login console
!
dot1x system-auth-control
!
!
!
!
!
banner motd %
You are accessing a U.S. Government (USG) Information
System (IS)
that is provided for USG-authorized use only. By using this IS (which includes
any device attached to this IS), you consent to the following conditions: 

-The USG routinely intercepts and monitors communications on this IS for purposes
including, but not limited to, penetration testing, COMSEC monitoring, network operations
and defense, personnel misconduct (PM), law enforcement (LE), and 
counterintelligence (CI) investigations. 
-At any time, the USG may inspect and seize data stored on this IS. 
-Communications using, or data stored on, this IS are not private, are subject to
routine monitoring, interception, and search, and may be disclosed or
used for any USG-authorized purpose. 
-This IS includes security measures (e.g., authentication and access
controls) to protect USG interests--not for your personal benefit or privacy. 
-Notwithstanding the above, using this IS does not constitute consent
to PM, LE or CI investigative searching or monitoring of the content
of privileged communications, or work product, related to personal representation
or services by attorneys, psychotherapists, or clergy, and their assistants.
Such communications and work product are private and confidential. See User Agreement for details.
%
!
ssh login-attempts 3
ssh login-gracetime 60
!
logging host 1.1.1.1
!
!
!
!
!
!
!
!
!
!
!
no ip domain-lookup
!
!
!
!
!
!
!
!
!
username admin role network-admin
!
ip tcp synwait-time 10
ip radius source-interface loopback0
ip tacacs source-interface loopback0
ip tftp source-interface loopback0
!
!
!
!
no ip bootp server
ip flow-export source loopback0
logging source-interface loopback0
snmp-server source-interface traps loopback0
snmp-server group TEST v3 read whatever access 100
!
!
tacacs server host 10.1.1.1
radius server host 10.2.2.2
!
!
!
!
!
!
!
interface Ethernet0/1
 description USER PORT
 switchport access vlan 59
 spanning-tree port type edge
 switchport mode access
 dot1x port-control-auto
 dot1x reauthentication
 dot1x timeout reauth-period 3600
 dot1x host-mode single-host
!
interface Ethernet0/2
 description USER PORT
 switchport access vlan 59
 spanning-tree port type edge
 switchport mode access
 dot1x port-control-auto
 dot1x reauthentication
 dot1x timeout reauth-period 3600
 dot1x host-mode single-host
!
interface Ethernet0/3
 description UPLINK
 switchport trunk native vlan 100
 switchport trunk allowed vlan 10
 switchport mode trunk
!
interface Ethernet0/4
 description UNUSED PORT
 switchport access vlan 200
 spanning-tree port type edge
 dot1x port-control-auto
 dot1x reauthentication
 dot1x timeout reauth-period 3600
 dot1x host-mode single-host
 shutdown
!
interface Vlan1
 no ip address
 shutdown
!
no ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
ip ssh server algorithm encryption aes128-ctr aes192-ctr aes256-ctr
ip ssh client algorithm encryption aes128-ctr aes192-ctr aes256-ctr
!
!
!
!
!
!
!
!
!
!
!
banner exec ^C
##############################################################
# Troubleshooting OSPF (BRKRST-3310)                         #
#                                                            #
# By Nicholas Russo <nickrus@cisco.com>                      #
# Cisco Live US 2018 - Demo lab                              #
# https://github.com/nickrusso42518/ospf_brkrst3310          #
##############################################################
^C
!
ip access-list standard ACL_VTY
 permit 1.1.1.1 log
 deny 2.2.2.2 log
!
line con 0
 login authentication METHOD
 exec-timeout 10 0
 privilege level 15
 logging synchronous
 history size 256
line vty 0 4
 login authentication METHOD
 access-class ACL_VTY in
 exec-timeout 10 0
 login
 transport input none
!
!
ntp logging
ntp authenticate
ntp source loopback0
ntp authentication-key 1 md5 SAMPLE1 0
ntp authentication-key 2 md5 SAMPLE2 0
ntp server 192.0.2.1 key 1
ntp server 192.0.2.2 key 2
end
